    *{
        margin: 0;
        padding: 0;
        box-sizing: 0;
        scroll-behavior: smooth;
        list-style: none;
        text-decoration: none;
      }
      :root{
          --bg-color: #fff;
          --text-color: #22134;
          --second-color: #5a7184;
          --main-color: #6e54fa;
          --big-font: 5rem;
          --h2-font: 3rem;
          --p-font: 1.1rem;
      }
      body{
        color: var(--text-color);
        background: var(--bg-color);
      }
      header{
        position: fixed;
        top: 0;
        right: 0;
        width: 64%;
        z-index: 1000;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: transparent;
        padding: 30px 18%;
        trasition: ease .40s;
        font-family: 'Poppins', sans-serif;
      }
      #logo{
        font-size: 35px;
        font-weight: 600;
        letter-spacing: 1px;
        color: var(--bg-color);
      }
      #navbar{
        display: flex;
      }
      #navbar a{
        color: var(--bg-color);
        font-size: var(--p-font);
        font-weight: 500;
        padding: 10px 22px;
        border-radius: 4px;
        transition: ease .40s;
      }
      #navbar a:hover{
        background: var(--bg-color);
        color: var(--text-color);
        box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
        border-radius: 10px;
      } 
      #menu-icon{
        color: var(--text-color);
        font-size: 35px;
        z-index: 10001;
        cursor: pointer;
        display: none;
      }
      section{
        padding: 40px 10%;
      }
      @keyframes homeTransition{
        from{opacity: 0;}
        to {opacity: 1;}
      }
      #home{
        height: 665px;
        background: url(newbackground.jpg);
        background-size: cover;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
      }
      #hometext{
        position: relative;
        bottom: 10px;
        animation: homeTransition 1s;
      }
      #hometext h1{
        font-size: var(--big-font);
        font-weight: 1000;
        line-height: 1.2;
        color: var(--bg-color);
        margin-bottom: 20px;
        font-family: 'Paytone One', sans-serif;
      }
      #hometext p{
        color: #332E30;
        font-size: 20px;
        font-weight: 549;
        line-height: 38px;
        margin-bottom: 50px;
        font-family: 'Poppins', sans-serif;
      }
      #home-btn{
        display: inline-block;
        font-size: 16px;
        font-weight: 550;
        color: var(--main-color);
        padding: 15px 30px;
        background: #ffffffbf;
        border-radius: 10px;
        transition: ease 0.40s;
        margin-bottom: 35px;
      }
      #home-btn:hover{  
        background: var(--bg-color);
        transform: scale(1.1);
      }
      #servicetext{
        font-family: 'Poppins', sans-serif;
        display: flex;
        justify-content: center;
        margin-top: 100px;
        font-size: 30px;
        font-family: 'Paytone One', sans-serif;
        color: white;
        animation: homeTransition 1s;
      }
      #servicerows{
        margin-bottom: 100px;
        display: flex;
        justify-content: space-around;
        animation: homeTransition 1s;
      }
      #serviceitems{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 300px;
        width: 300px;
        background: var(--bg-color);
        cursor: pointer;
        transition: .4s;
      }
      #serviceimg{
        font-size: 60px;
        height: 80px;
        width: 80px;
        box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      #serviceitems h4{
        font-size: 30px;
      }
      #serviceitems:hover{
        background: white;
        box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
        transform: scale(1.1);
      }
      #destinationtext{
        font-family: 'Poppins', sans-serif;
        display: flex;
        justify-content: center;
        margin-top: 100px;
        font-size: 30px;
        font-family: 'Paytone One', sans-serif;
        color: black;
        text-align: center;
        animation: homeTransition 1s;
      }
      header.sticky{
        background: var(--bg-color);
        padding: 10px 18%;
        box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
        transition: ease .40s;
      }
      .sticky #logo{
        color: black;
      }
      .sticky #navbar a{
        color: black;
      }
      #destinations-rows{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(340px, auto));
        grid-gap: 2rem;
        align-items: center;
        margin-top: 5rem;
        animation: homeTransition 1s;
      }
      #destinations{
        position: relative;
      }
      #destinations img{
        width: 100%;
        height: 500px;
        object-fit: cover;
        border-radius: 15px;
        filter: brightness(80%);
        transition: ease .40s;
      }
      #destinations h4{
        position: absolute;
        font-size: 30px;
        font-weight: 500;
        color: var(--bg-color);
        left: 15px;
        bottom: 60px;
        letter-spacing: 2px;
        font-family: 'Poppins', sans-serif;
      }
      #destinations p{
        position: absolute;
        font-size: 15px;
        font-weight: 300;
        color: var(--bg-color);
        left: 15px;
        bottom: 30px;
        letter-spacing: 2px;
        font-family: 'Poppins', sans-serif;
      }
      #destinations img:hover{
        cursor: pointer;
        filter: brightness(100%) hue-rotate(45deg);
        transform: scale(1.04);
        transition: ease .40s;
      }
      #contact{
        font-family: 'Poppins', sans-serif;
        background: var(--main-color);
        transition: ease .40s;
        animation: homeTransition 1s;
      }
      #maincontact{
        display: flex;
        flex-wrap: wrap;
      }
      #footer{
        padding: 20px 0;
      }
      #footerlist{
        width: 25%;
      }
      #footerlist h4{
        font-size: 21px;
        color: var(--bg-color);
        margin-bottom: 30px;
        position: relative;
      }
      #footerlist h4::before{
        content: "";
        position: absolute;
        height: 2px;
        width: 60px;
        left: 0;
        bottom: -10px;
        background: var(--bg-color);
      }
      #footerlist ul li:not(last-child){
        margin-bottom: 16px;
      }
      #footerlist ul li a{
        color: #ffffffbf;
        font-size: var(--p-font);
        display: block;
        transition: .3s;
      }
      #footerlist ul li a:hover{
        color: var(--bg-color);
        transform: translateX(14px);
      }
      #footerlist #social a{
        height: 40px;
        width: 40px;
        background: var(--bg-color);
        color: var(--main-color);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 21px;
        border-radius: 15px;
        transition: .3s;
        margin-right: 10px;
      }
      #footerlist #social a:hover{
        transform: scale(1.1);
      }
      #end-text{
        text-align: center;
        padding-top: 90px;
      }
      @media (max-width: 1040px){
        #footerlist{
          width: 50%;
        }
      }
      #inputbox h1{
        font-family: 'Paytone One', sans-serif;
        font-size: 40px;
      }
      #inputbox{
        background: white;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 500px;
        width: 500px;
        margin-left: 350px;
        animation: homeTransition 1s;
      }
      #form_content_container{
        margin: 40px;
        height: 20%;
      }
      #inpts input{
        height: 30px;
        width: 150px;
        border-radius: 10px;
      }
      #inpts i{
        font-size: 23px;
      }
      #button_container{
        margin-top: 20px;
      }
      #button_container button{
        height: 30px;
        width: 100px;
        background: transparent;
        border-radius: 10px;
        transition: ease .40s;
      }
      #button_container button:hover{
        cursor: pointer;
        transform: scale(1.1);
        transition: ease .40s;
      }